.box {
    margin-left: 15px;
}

.infoBox {
    display: flex;
    cursor: pointer;
}

.infoBox:hover {
    background-color: cornflowerblue;
}

.btnCollapse {
    width: 10px;
    height: 10px;
    border: solid 1px black;
    border-radius: 3px;
    text-align: center;
    margin-top: 2px;
    line-height: 10px;
    font-size: 14px;
    font-weight: bold;
}

.lblName {
    margin-left: 5px;
}