.nodes-tree {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 1px black;
}

.nodes-tree-item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.nodes-tree-item-selected {
    background-color: cornflowerblue;
}

.nodes-tree-item-ui-container:hover {
    background-color: darkgray;
}