body {
    background-color: gray;
}

.ui-vertical-panel {
    display: flex;
    flex-direction: column;
}

.ui-horizontal-panel {
    display: flex;
    flex-direction: row;
}

.ui-label {
    font-size: 16px;
}

.ui-caption {
    font-size: 18px;
    font-weight: bold;
}

.ui-table {
    border: solid 1px black;
    border-collapse: collapse;
}

.ui-table>tr>td {
    border: solid 1px black;
}