.widget-vertical-panel {
    display: flex;
    flex-direction: column;
}

.widget-horizontal-panel {
    display: flex;
    flex-direction: row;
}

.widget-label {
    font-size: 16px;
}

.widget-caption {
    font-size: 18px;
    font-weight: bold;
}

.widget-table {
    border: solid 1px black;
    border-collapse: collapse;
}

.widget-table>thead>tr>td {
    border: solid 1px black;
    background-color: gray;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

.widget-table>tbody>tr>td {
    border: solid 1px black;
    padding: 4px;
}

.widget-hide {
    display: none !important;
}