body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid gray;
    padding: 2px 12px;
}

td>input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#root {
    width: 600px;
    margin: auto;
}

.App {}

.form-container {
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 20px;
    padding: 4px;
    background-color: beige;
}

.TreeItem {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.selected {
    background-color: cornflowerblue;
}

.TreeItem-name {
    margin-left: 4px;
}

.TreeItem-children {
    margin-left: 20px;
}

.TreeAndSelectionContainer {
    display: flex;
    flex-direction: row;
}

.TreeAndSelectionContainer_child {
    width: 50%;
}

.UIPanelContainer {
    display: flex;
    flex-direction: row;
}

.UIPanelContainer_child {
    margin: 4px;
}

.PopupEditor {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}

.PopupEditor-content {
    width: 260px;
    margin: 20% auto 0px auto;
    box-shadow: 0px 0px 10px #000;
}

.PopupEditor-ui {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}